<section class="answerShortQuestion-container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
  <h4 class="title">Speaking items - Answer Short Questions</h4>

  <div class="question-continer" fxLayout="column" fxLayoutAlign="center center">

    <h4 class="question-title">
      <span>Question {{currentIndex+1}} :
        You will hear a question. Please give a simple and short answer. Often just one or a few words is enough.
      </span>
    </h4>

    <div class="question-body" fxLayout="column" fxLayoutAlign="space-between center">


      <pte-player (onPlayEnd)="playerEnd($event)" [questionType]="'answerShortQuestion'"
                  [question]="shortQuestions[currentIndex]"
                  *ngIf="!isLoading&&shortQuestions[currentIndex]?.description"></pte-player>



      <mat-card *ngIf="isAnswer">{{shortQuestions[currentIndex]?.answer}}</mat-card>

      <div class="pte-center pte-recorder-actions">
        <button mat-raised-button color="primary" (click)="tooltip.show()"><i class="material-icons">question_answer</i>Audio transcript
        </button>
        <button mat-raised-button color="primary" *ngIf="!isAnswer" (click)="toggleAnswer(true)">Show Answer</button>
        <button mat-raised-button color="primary" *ngIf="isAnswer" (click)="toggleAnswer(false)">Close Answer</button>
      </div>
      <div class="pte-center">
        <div [matTooltipPosition]="'below'" matTooltip="{{shortQuestions[currentIndex]?.description}}" #tooltip="matTooltip"></div>
      </div>

    </div>

    <div class="question-footer">

      <mat-button-toggle-group>
        <button (click)="previous();" mat-button="" title="Previous">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_before
        </mat-icon></span>
          Pre
        </button>

        <button (click)="next();" mat-button="" title="Next">
      <span class="mat-button-wrapper">
          Next
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_next
        </mat-icon></span>
        </button>
      </mat-button-toggle-group>

      <div fxHide.xs fxHide.sm>
        <button mat-button (click)="goto(gotoNumber);">Go</button>
        <mat-form-field>
          <input matInput [formControl]="pageFormControl"
                 placeholder="Jump to a question" [(ngModel)]="gotoNumber" pattern="^[0-9]+$" required>
          <mat-error *ngIf="pageFormControl.errors?.pattern">
            <strong>Should be a number</strong>
          </mat-error>
          <mat-error *ngIf="pageFormControl.errors?.required">
            <strong>Number required</strong>
          </mat-error>
        </mat-form-field>
        <span>Question {{currentIndex+1}} of  {{shortQuestions.length}}</span>
      </div>
    </div>
  </div>
</section>
