.pte-recorder {
    margin-top:20px;
    height:130px;
    background-color: #E7EFFA;
    width:300px;
    border:solid 2px;
    border-color: #99AABF;
    padding:10px;

}

.pte-recorder-actions {
  button {
    width:40px;
  }
}
