/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.pte-center {
  text-align: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .mat-card {
    max-width: 90% !important;
  }
}

@supports (-ms-accelerator:true) {
  .mat-card {
    max-width: 90% !important;
  }
}

@supports (-ms-ime-align:auto) {
  .mat-card {
    max-width: 90% !important;
  }
}

@import '../node_modules/ng-drag-drop/style.css';

@import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

@import './app/theme/theme1';
@import './app/theme/theme2';

.pte-theme1 {
  @include angular-material-theme($pte-theme1);
}

.pte-theme2 {
  @include angular-material-theme($pte-theme2);
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

.mat-tooltip {
  width:300px;
  font-size:20px;
}

mat-card {
  line-height: 25px;
}

.writeEssay-container {
  .question-body {
    .mat-input-container{
      margin-top:20px;
    }
    .mat-input-flex {
      border-radius: 2px;
      height: 100% !important;
      border:2px dashed #D1C7AC;
    }
    textarea{
      padding:5px;
      height: 120px !important;
    }
    .mat-form-field{
      width:100%;
    }
  }
}

.summariseWrittenText-container {
  .question-body {
    .mat-input-container{
      margin-top:20px;
    }
    .mat-input-flex {
      border-radius: 2px;
      border:2px dashed #D1C7AC;

    }
    .mat-form-field{
      width:100%;
    }
    textarea{
      padding:5px;
      height: 50px !important;
    }
  }
}
.writeFromDictation-container {
  .question-body {
    .mat-input-container{
      margin-top:20px;
    }
    .mat-input-flex {
      border-radius: 2px;
      border:2px dashed #D1C7AC;
    }
    .mat-form-field{
      width:400px;
    }
    textarea{
      padding:5px;
      height: 50px !important;
    }

  }

  @media only screen and (max-width: 768px) {
    .mat-form-field{
      width:100% !important;
    }
  }


}

