<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav [mode]="mode.value" opened="true" class="pte-sidebar">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <section>
    logo
    </section>
    <hr>

    <section>
      <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            This is the expansion 1 title
          </mat-expansion-panel-header>
          This the expansion 1 content
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </mat-sidenav>


  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    dashboard
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
