<div [ngClass]="themeColor" class="pte-app">

  <mat-toolbar class="mat-toolbar mat-toolbar-multiple-rows" color="primary">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" mat-button="" title="Docs menu">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon" aria-hidden="true">
        menu
        </mat-icon></span>
      </button>
      <span id="pte-logo">A PLUS PTE&nbsp;<img src="../assets/alogopng.png"></span>

      <app-color-picker [themeColor]="themeColor"  (notify)='onThemeNotify($event)'>
      </app-color-picker>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mode.value" opened="true" class="pte-sidebar">

      <section class="pteCategory">
        <mat-accordion *ngFor="let key of keys; index as i; first as isFirst">
          <mat-expansion-panel>
            <mat-expansion-panel-header class="nav-title">
              <h3>{{key}}</h3>
            </mat-expansion-panel-header>

            <div *ngFor="let testItem of testsCategory[key];index as y;" class="nav-item" (click)='sidenav.toggle();routing(testItem.path)'>
              {{y+1}}: {{testItem.text}}
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

