.pte-app {
  #pte-logo{
    display: flex;
    justify-content:space-between;
    img{
      width: 4em;
      height: 1.3em;
    }
  }
  height: 100%;
  min-height: 100%;
  mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    mat-toolbar-row {
      justify-content:space-between;
    }
  }

  mat-sidenav-container {
    height: 100%;
    min-height: 100%;
    width:100%;
    mat-sidenav-content {
      height:100%;
      footer {
        position: absolute;
        bottom:1%;
      }
    }
    .mat-footer {
      width:100%;
      text-align:center;
    }
  }

  mat-sidenav-container .pte-sidebar {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
    height: calc(100vh - 64px);
    .pteCategory {
      .mat-expansion-panel-body {
        transition: visibility 275ms, opacity 275ms, max-height .28s;
        transition-timing-function: ease-in-out;
      }
      .nav-title h3 {
        border: none;
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        padding: 0 16px;
      }

      .nav-item {
        margin-left: 10px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        max-width: 260px;
        overflow-wrap: break-word;
        padding: 10px;
        text-decoration: none;
        text-align: left;
        width: 93%;
        word-wrap: break-word;
        transition: background-color;
        transition-timing-function: ease-in-out;
      }

      .nav-item:hover {
        background-color: #F5F5F5;
        color: cornflowerblue;
      }
    }
  }



}

