<section class="listenFillInTheBlank-container">
  <h4 class="title">Listening items - Fill in the blanks</h4>

  <div class="question-continer" fxLayout="column" fxLayoutAlign="center center">

    <h4 class="question-title">
      <span>Question {{currentIndex+1}} :
     You will hear a recoding. Type the missing words in the each blank
        </span>
    </h4>

    <div class="question-body" fxLayout="column" fxLayoutAlign="space-between center">
      <mat-card><mat-card-content><span *ngFor="let word of selectedFillInTheBlank?._descriptionInArrayMode; let index = index">

        <span *ngIf="word?.text=='#404';else w" [ngClass]="{'selectBox': word?.text=='#404'}">
          &nbsp;
         <mat-form-field >
          <input matInput placeholder="Enter missing word">
         <mat-hint [hidden]="!isAnswer" align="start" class="listenFillInTheBlanksAnswer">{{word?.answer}}</mat-hint>
        </mat-form-field>
        </span>
        <ng-template #w>{{word?.text}}</ng-template>
      </span></mat-card-content></mat-card>

        <pte-player [questionType]="'listenFillBlank'" [question]="selectedFillInTheBlank" *ngIf="selectedFillInTheBlank.audioPath"></pte-player>
      <div class="answerAction">
        <button mat-raised-button color="primary" *ngIf="!isAnswer" (click)="toggleAnswer(true)">Show Answer</button>
        <button mat-raised-button color="primary" *ngIf="isAnswer" (click)="toggleAnswer(false)">Close Answer</button>
      </div>
    </div>

    <div class="question-footer">

      <mat-button-toggle-group>
        <button (click)="previous();" mat-button="" title="Previous" [disabled]="isLoading">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_before
        </mat-icon></span>
          Pre
        </button>

        <button (click)="next();" mat-button="" title="Next" [disabled]="isLoading">
      <span class="mat-button-wrapper">
          Next
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_next
        </mat-icon></span>
        </button>
      </mat-button-toggle-group>

      <div fxHide.xs fxHide.sm>
        <button mat-button (click)="goto(gotoNumber);" [disabled]="isLoading">Go</button>
        <mat-form-field>
          <input matInput [formControl]="pageFormControl"
                 placeholder="Jump to a question" [(ngModel)]="gotoNumber" pattern="^[0-9]+$" required>
          <mat-error *ngIf="pageFormControl.errors?.pattern">
            <strong>Should be a number</strong>
          </mat-error>
          <mat-error *ngIf="pageFormControl.errors?.required">
            <strong>Number required</strong>
          </mat-error>
        </mat-form-field>
        <span>Question {{currentIndex+1}} of  {{allListenFillInTheBlankIds.length}}</span>
      </div>
    </div>
  </div>
</section>
