<section class="summariseWrittenText-container" [@routerTransition]="">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
  <h4 class="title">Writing items - Summarize written text</h4>

  <div class="question-continer" fxLayout="column" fxLayoutAlign="center center">

    <h4 class="question-title">
      <p>Question {{currentIndex+1}} :
        You have 10 minutes to write your summary. Make sure to include the main points of the reading passage in a
        full, single sentence of no more than 75 words.
      </p>
    </h4>
    <p>
      Please send your essay to this Email (avading0515@gmail.com) for feedback.
    </p>
    <div class="question-body" fxLayout="column" fxLayoutAlign="space-between center">
      <mat-card>{{selectSummariseWrittenText?.description}}</mat-card>
      <p>Timer: <span class="countDown">{{countDown}}</span></p>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip>
          {{essayRecorded|wordCounter}} words
        </mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <textarea matInput placeholder="Write your summary here" matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="5" [(ngModel)]="essayRecorded"></textarea>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" *ngIf="!isAnswer" (click)="toggleAnswer(true)">Show Answer</button>
        <button mat-raised-button color="primary" *ngIf="isAnswer" (click)="toggleAnswer(false)">Close Answer</button>
      </div>
      <mat-card *ngIf="isAnswer">{{selectSummariseWrittenText?.answer}}</mat-card>

    </div>

    <div class="question-footer">

      <mat-button-toggle-group>
        <button (click)="previous();" mat-button="" title="Previous" [disabled]="isLoading">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_before
        </mat-icon></span>
          Pre
        </button>

        <button (click)="next();" mat-button="" title="Next" [disabled]="isLoading">
      <span class="mat-button-wrapper">
          Next
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_next
        </mat-icon></span>
        </button>
      </mat-button-toggle-group>

      <div fxHide.xs fxHide.sm>
        <mat-form-field>
          <input matInput [formControl]="pageFormControl"
                 placeholder="Jump to a question" [(ngModel)]="gotoNumber" pattern="^[0-9]+$" required>
          <mat-error *ngIf="pageFormControl.errors?.pattern">
            <strong>Should be a number</strong>
          </mat-error>
          <mat-error *ngIf="pageFormControl.errors?.required">
            <strong>Number required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-button (click)="goto(gotoNumber);" [disabled]="isLoading">Go</button>
        <span>Question {{currentIndex+1}} of  {{summariseWrittenTextIds.length}}</span>
      </div>
    </div>
  </div>
</section>
