.pte-theme-sample1 {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 6px;
  border-radius: 50%;
  overflow: hidden;
  background: #1EBDD3;
}


.pte-theme-sample2 {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 6px;
  border-radius: 50%;
  overflow: hidden;
  background: #9A28AE;
}
