<section class="readFillInTheBlank-container">
  <h4 class="title">Reading items - Fill in the blanks</h4>

  <div class="question-continer" fxLayout="column" fxLayoutAlign="center center">

    <h4 class="question-title">
      <span>Question {{currentIndex+1}} :
       In the text below some words are missing. Drag words from the box below to the appropriate place in the text. To undo an
        answer choice, drag the word back to the box below the text.
        </span>
    </h4>

    <div class="question-body" fxLayout="column" fxLayoutAlign="space-between center">
      <mat-card><span *ngFor="let word of selectedFillInTheBlank._descriptionInArrayMode; let index = index">

        {{word}}

      </span></mat-card>

      <mat-select>d</mat-select>
      <span [innerHTML]="slect"></span>

    </div>

    <div class="question-footer">

      <mat-button-toggle-group>
        <button (click)="previous();" mat-button="" title="Previous" [disabled]="isLoading">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_before
        </mat-icon></span>
          Pre
        </button>

        <button (click)="next();" mat-button="" title="Next" [disabled]="isLoading">
      <span class="mat-button-wrapper">
          Next
        <mat-icon
          class="mat-icon" aria-hidden="true">
        navigate_next
        </mat-icon></span>
        </button>
      </mat-button-toggle-group>

      <div fxHide.xs fxHide.sm>
        <button mat-button (click)="goto(gotoNumber);" [disabled]="isLoading">Go</button>
        <mat-form-field>
          <input matInput [formControl]="pageFormControl"
                 placeholder="Jump to a question" [(ngModel)]="gotoNumber" pattern="^[0-9]+$" required>
          <mat-error *ngIf="pageFormControl.errors?.pattern">
            <strong>Should be a number</strong>
          </mat-error>
          <mat-error *ngIf="pageFormControl.errors?.required">
            <strong>Number required</strong>
          </mat-error>
        </mat-form-field>
        <span>Question {{currentIndex+1}} of  {{allReadFillInTheBlankIds.length}}</span>
      </div>
    </div>
  </div>
</section>
